:root {
	--titlebar-height: 36px;
	--tabbar-height: 34px;
}

:root[data-theme='light'] {
	--deep-bg: #2c2c2c;
	--deep-hvr: #444;
	--deep-clr: #ccc;
}

:root[data-theme='dark'] {
	--deep-bg: #ccc;
	--deep-hvr: #aaa;
	--deep-clr: #444;
}

@font-face {
	font-family: 'EasyMono';
	src: url('./fonts/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'EasySans';
	src: url('./fonts/GoogleSans-VariableFont_wght.ttf') format('truetype');
}

html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'EasySans', sans-serif;
	font-size: 14px;
}

.sidebar__header {
	padding: 8px;
	border-bottom: 1px solid #333;
}
.sidebar__btn {
	width: 100%;
}
.tree-row {
	display: flex;
	gap: 6px;
	cursor: pointer;
	user-select: none;
	padding: 2px 6px;
}
.tree-row__arrow {
	width: 16px;
	text-align: center;
}
.tree-row__label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
