:root {
	--titlebar-height: 36px;
	--tabbar-height: 34px;
}

:root[data-theme='light'] {
	--deep-bg: #2c2c2c;
	--deep-hvr: #444;

	--hr-subtle: #444;
	--primary-font-color: #eee;
	--secondary-font-color: #bbb;
}

:root[data-theme='dark'] {
	--deep-bg: #ccc;
	--deep-hvr: #aaa;
	--hr-subtle: #aaa;
	--primary-font-color: #222;
	--secondary-font-color: #555;
}

@font-face {
	font-family: 'EasyMono';
	src: url('./fonts/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'EasySans';
	src: url('./fonts/GoogleSans-VariableFont_wght.ttf') format('truetype');
}

html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'EasySans', sans-serif;
	font-size: 14px;
}

footer {
	height: 0;
}

.content-shell {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.content-host {
	height: calc(100vh - var(--titlebar-height) - var(--tabbar-height));
	overflow: auto;
}

.app-shell {
	display: flex;
}
