.sidebar-host {
	width: 280px;
	min-width: 220px;
	max-width: 420px;

	height: calc(100vh - var(--titlebar-height));
	overflow: auto;

	border-right: 1px solid var(--hr-subtle);
	background: var(--deep-bg);
	font-family: 'EasyMono', monospace;
	padding-left: 0.2rem;
}

.sidebar__header {
	margin-top: var(--tabbar-height);
	padding: 8px;
	border-bottom: 1px solid var(--hr-subtle);
}
.sidebar__btn {
	width: 100%;
}

.sidebar__tree {
	color: var(--primary-font-color);
}

.tree-row {
	display: flex;
	gap: 6px;
	cursor: pointer;
	user-select: none;
	padding: 2px 6px;
}
.tree-row__arrow {
	width: 16px;
	text-align: center;
}
.tree-row__label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tree-row__selected {
	background: var(--deep-hvr);
}
